main {
    color: white;
    font-family: Helvetica, sans-serif;
}

.lamp-on {
    display: inline;
}

.lamp-off {
    display: none;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}